p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
        font-size: 35px;
        font-weight: normal;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(37, 43, 131)
}
h2 {
    font-size: 30px;
    font-weight: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.drp {
    color: navy;
}
.dana {
    color: rgb(106, 160, 231);
}
.mayor {
    color:rgb(128, 199, 180)
}
.dray{
    color:rgb(126, 98, 158)
}
.drz {
    color:rgb(85, 86, 192)
}
.wins {
    color:rgb(185, 229, 255)
}